/* extra extra small */
@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.5em;
  }
  #logo a {
    font-size: 3.8em;
  }
  #urbonera {
    width: 15em;
  }
  .page {
    min-height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 1em 0 1em 0; */
  }
  img#ciclo {
    height: 19em;
  }
  #subheader {
    font-size: 2em;
    padding: 0.25em;
  }
  #connectHort_logo {
    height: 8em;
  }
  .headline {
    font-size: 2em;
  }
  #compost_schlange {
    height: 11em;
  }
  #organico {
    width: 10em;
  }
  #zero_waste {
    width: 15em;
  }
  #restos_organicos {
    height: 11em;
  }
  #paper {
    height: 10em;
  }
  #lacticos {
    height: 16em;
  }
  #carnes {
    height: 12em;
  }
  #huesos {
    height: 12em;
  }
  #cooperacion_title {
    font-size: 2em;
    padding: 0.5em;
  }
  #urbonera {
    width: 20em;
  }
  #bcnsostenible {
    width: 10em;
  }
  img#bcnactiva {
    height: 9em;
  }
  button#mas_informacion {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  #contact_section {
    padding: 1em;
  }
  #write_us {
    margin-top: 1em;
  }
  #write_us button {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
  #logo a {
    font-size: 3.9em;
  }
  .page {
    min-height: calc(100vh - 4.75em);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 1em 0 1em 0; */
  }
  img#ciclo {
    height: 21em;
  }
  #subheader {
    font-size: 2em;
    padding: 0.25em;
  }
  #connectHort_logo {
    height: 8em;
  }
  .headline {
    font-size: 2em;
  }
  #compost_schlange {
    height: 13em;
  }
  #organico {
    width: 10em;
  }
  #zero_waste {
    width: 15em;
  }
  #restos_organicos {
    height: 10em;
  }
  #paper {
    height: 10em;
  }
  #lacticos {
    height: 19em;
  }
  #carnes {
    height: 13em;
  }
  #huesos {
    height: 12em;
  }
  #cooperacion_title {
    font-size: 2em;
    padding-bottom: 1em;
  }
  #urbonera {
    width: 20em;
  }
  #bcnsostenible {
    width: 10em;
  }
  img#bcnactiva {
    height: 9em;
  }
  button#mas_informacion {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  #contact_section {
    padding: 1em;
  }
  #write_us {
    margin-top: 1em;
  }
  #write_us button {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
}
