/* extra extra small */
@media screen and (max-width: 320px) {
  /* layout */
  /* .full_height {
    min-height: calc(100vh - 4.4em);
  } */
  div.display_flex_evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.display_flex_around {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .block_padding {
    padding: 2em 1em 2em 1em;
  }
  /* styling */
  .text_padding {
    padding: 2em 0.5em 2em 0.5em;
  }
  .margin {
    margin: 2em 0 2em 0;
  }
  /* elements */
  figure {
    padding: 1em;
  }
  button {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  /* images */
  #compost_schlange {
    height: 12em;
  }
  #ciclo {
    height: 18em;
  }
  #restos_organicos {
    height: 5em;
  }
  #paper {
    height: 5em;
  }
  #lacticos, #carnes, #huesos {
    height: 5em;
  }
  #urbonera {
    height: 5em;
  }
  #connectHort_logo {
    height: 5em;
  }
  #bcnsostenible {
    height: 10em;
  }
  #bcnactiva {
    height: 5.5em;
  }
}
/* extra small */
@media screen and (min-width: 321px) and (max-width: 360px) {
  /* layout */
  /* .full_height {
    min-height: calc(100vh - 4.4em);
  } */
  div.display_flex_evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.display_flex_around {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .block_padding {
    padding: 2em 1em 2em 1em;
  }
  /* styling */
  .text_padding {
    padding: 2em 0.5em 2em 0.5em;
  }
  .margin {
    margin: 2em 0 2em 0;
  }
  /* elements */
  figure {
    padding: 1em;
  }
  button {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  /* images */
  #compost_schlange {
    height: 12em;
  }
  #ciclo {
    height: 18em;
  }
  #restos_organicos {
    height: 5em;
  }
  #paper {
    height: 5em;
  }
  #lacticos, #carnes, #huesos {
    height: 5em;
  }
  #urbonera {
    height: 5em;
  }
  #connectHort_logo {
    height: 5em;
  }
  #bcnsostenible {
    height: 10em;
  }
  #bcnactiva {
    height: 5.5em;
  }
}
/* small */
@media screen and (min-width: 361px) and (max-width: 600px) {
  /* layout */
  /* .full_height {
    min-height: calc(100vh - 4.4em);
  } */
  div.display_flex_evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.display_flex_around {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .block_padding {
    padding: 2em 1em 2em 1em;
  }
  /* styling */
  .text_padding {
    padding: 2em 2em 2em 2em;
  }
  .margin {
    margin: 2em 0 2em 0;
  }
  .max_width {
    max-width: 20em;
    margin: 0 auto;
  }
  /* elements */
  figure {
    padding: 1em;
  }
  button {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  /* images */
  #compost_schlange {
    height: 12em;
  }
  #ciclo {
    height: 18em;
  }
  #restos_organicos {
    height: 5em;
  }
  #paper {
    height: 5em;
  }
  #lacticos, #carnes, #huesos {
    height: 5em;
  }
  #urbonera {
    height: 5em;
  }
  #connectHort_logo {
    height: 5em;
  }
  #bcnsostenible {
    height: 10em;
  }
  #bcnactiva {
    height: 5.5em;
  }
}
