* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  /* colours */
  background: #677267;
  height: 46px;
}
#nav_contact_button {
  background: #3A403A;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  border-style: none;
}
#logo {
  color: #fff;
}
#socialmedia {
  display: flex;
  fill: #fff;

}
#socialmedia svg {
}
