* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  /* width: 100%; */
  /* overflow-x: hidden; */
  text-align: center;
}
.background_gray {
  background: #677267;
  color: white;
  padding: 2em;
  font-size: 3em;
}
.background_purple {
  background: #230033;
  color: white;
  padding: 2em;
  font-size: 3em;
}
nav {
  position: sticky;
  top: 0;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  z-index: 10;
}
#abonoKm0 {
  color: #fff;
  font-size: 9em;
  background: #230033;
}
#socialmedia {
  fill: #A3A3A3;
  padding: 2em;
  background: #3A403A;

}
#socialmedia svg {
  margin: 0 1.5em 0 1.5em;
}
/* div.page {
  min-height: calc(100vh - 2.5em);
  top: 2.5em;
} */
#homepage {
  background: #230033;
}
#header {
  color: #fff;
  font-size: 8em;
}
#subheader {
  background: #677267;
  color: #fff;
  font-size: 4em;
  padding: 0.5em;
}
#graphic_placeholder {
  background: white;
  color: black;
  padding: 2.5em;
  font-size: 2em;
}
#compost_schlange {
  width: 90%;
}
#video {

}
#features {
  background: white;
  color: black;
  display: block;
}
#info_wrapper {
  background: #A3A3A3;
  padding: 1em;
  font-size: 3em;
}
#contact_socialmedia {
  background: #A3A3A3;
  padding: 2em;

}
#contact_socialmedia svg {
  fill: black;
  margin: 2em;
}
#write_us {
  font-size: 4em;
  padding: 1em;
  color: black;
}
form {
  font-size: 3em;
  padding: 1em 1em 2em 1em;
}
form input {
  font-size: 1.5em;
  width: 100%;
  padding: 0.25em;
  border-radius: 15em;
  color: black;
  margin-bottom: 0.25em;
}
form textarea {
  font-size: 1.5em;
  border-radius: 0.5em;
  width: 100%;
}
#send_button {
  margin-top: 0.5em;
  font-size: 1.5em;
  background: #A3A3A3;
  color: black;
  /* padding: 0; */
}

div#action {
  position: fixed;
  bottom: 0;
  background: #3A403A;
  padding: 1em;
  text-align: center;
  z-index: 9;
}
button#mas_informacion {
  background: #A3A3A3;
  /* color: #fff; */
  padding: 0.5em 4em 0.5em 4em;
  border-radius: 25px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  border-style: none;
  margin: 0.25em;
}

footer {
  background: #230033;
  color: white;
  padding: 2.5em;
}
