@media screen and (min-width: 601px) and (max-width: 56em) {
  div.page {
    min-height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5em;
  }
  img#ciclo {
    height: 21em;
  }
  #connectHort {
    font-size: 1.5em;
    padding: 0.25em;
  }
  #connectHort_logo {
    height: 9em;
  }
  .headline {
    font-size: 2.75em;
  }
  .headline p {
    /* padding: 0.5em; */
  }
  #compost_schlange {
    width: 30em;
  }
  #organico {
    width: 15em;
    margin-bottom: 1em;
  }
  #zero_waste {
    width: 20em;
  }
  #paper {
    height: 20em;
  }
  #cooperacion_title {
    font-size: 3em;
    padding: 1em;
  }
  #urbonera {
    width: 25em;
  }
  #bcnsostenible {
    height: 15em  ;
  }
  img#bcnactiva {
    height: 10em;
  }
  button#mas_informacion {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  #contact_section {
    padding: 1em;
  }
  #write_us {
    margin-top: 1em;
  }
  #write_us button {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
}

/* desktop 56em = (more or less 960px) */
@media screen and (min-width: 56em) {
  h1 {
    font-size: 2.75em;
  }
  div.full_height {
    min-height: calc(100vh - 6em);
    /* padding: 1em; */
  }
  div.display_flex_evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.display_flex_around {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .display_flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #compost_schlange {
    height: 24em;
  }
  #organico {
    height: 12em;
  }
  #zero_waste {
    height: 12em;
  }
  div#cooperacion {
    /* min-height: calc(100vh - 6em); */
  }
  #cooperacion_title {
    padding-bottom: 1em;
  }
  div.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  /* images */
  #ciclo {
    height: 35em;
    border-radius: 5em;
  }
  #restos_organicos {
    height: 12em;
  }
  #paper {
    height: 15em;
  }
  #lacticos, #carnes, #huesos {
    height: 13em;
  }
  #connectHort {
    font-size: 1.5em;
    padding: 0.25em;
  }
  .headline {
    /* margin: 0 6em 0 6em; */
    font-size: 1.6em;
  }
  .headline p {
    /* padding: 0.5em; */
  }
  figure {
    padding: 2em;
  }
  #cooperacion_title {
    font-size: 3em;
    padding-top: 1em;
  }
  #urbonera {
    height: 7em;
  }
  #bcnsostenible {
    height: 11em;
  }
  #connectHort_logo {
    height: 6em;
  }
  #bcnactiva {
    height: 8em;
  }
  button {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  #contact_section {
    padding: 1em;
  }
  #write_us {
    margin-top: 1em;
  }
}
