@media screen and (min-width: 601px) and (max-width: 56em) {
  #logo img {
    height: 6em;
  }
  div.page {
    min-height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5em;
  }
  img#ciclo {
    height: 21em;
  }
  #connectHort {
    font-size: 1.5em;
    padding: 0.25em;
  }
  #connectHort_logo {
    height: 9em;
  }
  .headline {
    font-size: 2.75em;
  }
  .headline p {
    /* padding: 0.5em; */
  }
  #compost_schlange {
    width: 30em;
  }
  #organico {
    width: 15em;
    margin-bottom: 1em;
  }
  #zero_waste {
    width: 20em;
  }
  #cooperacion_title {
    font-size: 3em;
    padding: 1em;
  }
  #urbonera {
    width: 25em;
  }
  #bcnsostenible {
    height: 15em  ;
  }
  img#bcnactiva {
    height: 10em;
  }
  button#mas_informacion {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  #contact_section {
    padding: 1em;
    background: #A3A3A3;
  }
  #write_us {
    margin-top: 1em;
  }
  #write_us button {
    background: white;
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
}

/* desktop 56em = (more or less 960px) */
@media screen and (min-width: 56em) {
  #logo img {
    height: 6em;
  }
  div.page {
    min-height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #compost_schlange {
    height: 24em;
  }
  div.partners {
    min-height: calc(100vh - 6em);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #ciclo {
    height: 38em;
    border-radius: 5em;
  }
  #connectHort {
    font-size: 1.5em;
    padding: 0.25em;
  }
  #connectHort_logo {
    height: 9em;
  }
  .headline {
    font-size: 2.75em;
  }
  .headline p {
    /* padding: 0.5em; */
  }
  #organico {
    width: 15em;
    margin-bottom: 1em;
  }
  #zero_waste {
    width: 20em;
  }
  #cooperacion_title {
    font-size: 3em;
    padding-top: 1em;
  }
  #urbonera {
    width: 25em;
  }
  #bcnsostenible {
    height: 15em  ;
  }
  #bcnactiva {
    height: 10em;
  }
  button#mas_informacion {
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
  #contact_section {
    padding: 1em;
    background: #A3A3A3;
  }
  #write_us {
    margin-top: 1em;
  }
  #write_us button {
    background: white;
    font-size: 1.5em;
    padding: 0.15em 1.5em 0.15em 1.5em;
  }
}
